<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Yonsei Mileage Information</title>
  </head>
  <body>
    <input type="text" name="" value="">
    <input type="submit" name="" value="보내기">
  </body>
  <script src="/static/js/ws.js" charset="utf-8"></script>
</html>
